{% extends 'base.html'%}

{% block content %}

<div>
  {% for message in messages %}
  <div class="alert alert-success" role="alert">{{message}}</div>
  {% endfor %}
</div>


<div class="profile-info">


  <div class="container">
    <h1>Perfil</h1>
    <form action="" method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="col-sm">
          <div class="mt-4">
            <label for="exampleInputPassword1" class="form-label">Nome</label>
            <input type="text" class="form-control" name="first_name" value="{{obj.user.first_name}}" />
          </div>
          <div class="mt-4">
            <label for="exampleInputPassword1" class="form-label">Último Nome</label>
            <input type="text" class="form-control" name="last_name" value="{{obj.user.last_name}}" />
          </div>
          <div class="mt-4">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" name="email" value="{{obj.user.email}}" disabled />
          </div>
          <div class="mt-4">
            <label class="form-label">Título</label>
            <input type="text" class="form-control" name="titulo" value="{{obj.titulo}}" disabled />
          </div>
          <div class="mt-4">
            <label for="exampleInputPassword1" class="form-label">Etapa</label>
            <input type="text" class="form-control" name="etapa" value="{{obj.etapa}}" />
          </div>
          <div class="mt-4">
            <label for="exampleInputPassword1" class="form-label">Video de Apresentação</label>
            <input type="text" class="form-control" name="video" value="{{obj.video}}" />
            <input class="btn btn-primary btn-base mt-3" type="submit" value="Atualizar" />
          </div>
        </div>
        <div class="col-sm">
          <div class="p-3 mt-5">
            <div class="form-check">
              <input name="ux_design" class="form-check-input" type="checkbox" id="flexCheckDefault" {%
                    if
                    obj.is_uxdesigner
                    %} value="True" checked {%
                    else
                    %} value="False" {%
                    endif
                    %} />
              <label class="form-check-label" for="flexCheckDefault">
                UX Design
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" name="ui_design" type="checkbox" id="flexCheckDefault" {%if
                    obj.is_uidesigner%} checked value="True" {%
                    else
                    %} value="False" {%
                    endif
                    %} />
              <label class="form-check-label" for="flexCheckDefault">
                Ui Design
              </label>
            </div>
            <div class="form-check">
              <input name="ux_writer" class="form-check-input" type="checkbox" id="flexCheckDefault"
                {%if obj.is_uxwriter%} checked value="True" {% else %} value="False" {% endif %} />
              <label class="form-check-label" for="flexCheckDefault">
                UX Writer
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
              <label class="form-check-label" for="flexCheckDefault">
                UX Strategy
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
              <label class="form-check-label" for="flexCheckDefault">
                UX Research
              </label>
            </div>
          </div>
        </div>
      </div>
    </form>
    <br />
    <div>
      <!-- <a class="btn btn-primary btn-base" aria-current="page" href="#">Adicionar projetos</a> -->
      <hr>
      <br>

      <div class="row">
        {% for p in projetos %}
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{p.nome}}</h5>
              <p class="card-text">{{p.titulo}}</p>
              <a href="{% url 'projeto-detalhe' p.pk %}" class="btn btn-primary btn-base">Editar</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endblock %}
    </div>
  </div>

</div>