{% extends 'base.html'%}


{% block content %}
<section class="container cadastro-perfil">
  <form action="" method="POST">
    {% csrf_token %}

    <div class="row">
      <div class="col-md-6 my-3">

          <h2>Cadastre-se</h2>
          <label for="exampleInputEmail1" class="form-label">Usuário</label>
          <input type="text" class="form-control" name="username" />
          <label for="exampleInputEmail1" class="form-label">E-mail</label>
          <input type="email" class="form-control" name="email" />
          <label for="exampleInputPassword1" class="form-label">Senha</label>
          <input type="password" class="form-control" name="password1" />
          <label for="exampleInputPassword1" class="form-label">Confirmar Senha</label>
          <input type="password" class="form-control" name="password2" />

      </div>
      <div class="col-md-6 my-3">
        <h2>Área de atuação</h2>
        <div class="mt-4">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
            <label class="form-check-label" for="flexCheckDefault">
              UX Design
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
            <label class="form-check-label" for="flexCheckDefault">
              Ui Design
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
            <label class="form-check-label" for="flexCheckDefault">
              UX Writer
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
            <label class="form-check-label" for="flexCheckDefault">
              UX Strategy
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
            <label class="form-check-label" for="flexCheckDefault">
              UX Research
            </label>
          </div>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary btn-base">Cadastrar</button>
    <p class="text-center">
      Se você já possui uma conta, faça o <a href="{% url 'login' %}">login</a>.
    </p>
  </form>
</section>
{% endblock %}