{% extends 'base.html'%}

{% load static %}


{% block content %}
<input type="hidden" name="category" id="category">
<div class="filter-btns">

  <!-- <button type="button"  href="{% url 'talentos' %}" data-category="ALL"onclick= filter_category(this.id)  class="filter-btn" id="all">Todos</button>
  <button type="button" href="{% url 'talentos' %}" data-category="UXD" onclick=filter_category(this.id) class="filter-btn" id="UXD">
    UX Designer
  </button>
  <button type="button" data-category="UID" onclick=filter_category(this.id) class="filter-btn" id="UID">
    UI Designer
  </button>
  <button type="button" data-category="UXW "onclick=filter_category(this.id) class="filter-btn" id="UXW">UX Writer</button> -->

  <a type="button" data-category="ALL" class="filter-btn" id="all">Todos</a>
  <a type="button" data-category="UXD"  class="filter-btn" id="UXD">UX Designer</a>
  <a type="button" data-category="UID"  class="filter-btn" id="UID">UI Designer</a>
  <a type="button" data-category="UXW "  class="filter-btn" id="UXW">UX Writer</a>

</div>



<div class="container">
  <div class="row g-3">
    {% for d in talentos %}
    <div class="col-12 col-md-6 col-lg-4 col">
      <div class="card card-talento">
        <iframe class=video src="{{d.video}}" height="250" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="card-body card-talento">
          <h5 class="card-title title">{{d.nome}}</h5>
          <p>{{d.competencias}}</p>
          <p>Etapa: {{d.etapa}}</p>
          
          <a href="{% url 'talento-detalhe' d.pk %}" class="btn btn-primary check-btn">Ver Perfil</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


















<!-- 

<div id="uxd_items">
  <div class="filter-items">
    {% for d in uxd %}

    

    <div class="filter-item all new">

      <div class="embed-responsive embed-responsive-4 by3">
        <iframe class="embed-responsive-item" src="{{d.video}}"></iframe>
      </div>
      <div class="item-info">
        <p>{{d.nome}}</p>
        <p>{{d.competencias}}</p>
        <div>
          <span class="new-price">Etapa: {{d.etapa}}</span>
        </div>
        <a href="{% url 'talento-detalhe' d.pk %}" class="add-btn">Ver Perfil</a>
      </div>
    </div>

    {% endfor %}
  </div>
</div>

<div id="uid_items">
  <div class="filter-items">
    {% for d in uid %}

    <div class="filter-item all new">
      <div class="item-img">
        <iframe width="350" height="250" src="{{d.video}}" title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="item-info">
        <p>{{d.nome}}</p>
        <p>{{d.competencias}}</p>
        <div>
          <span class="new-price">Etapa: {{d.etapa}}</span>
        </div>
        <a href="{% url 'talento-detalhe' d.pk %}" class="add-btn">Ver Perfil</a>
      </div>
    </div>

    {% endfor %}
  </div>
</div>

<div id="uxw_items">
  <div class="filter-items">
    {% for d in uxw %}

    <div class="filter-item all new">
      <div class="item-img">
        <iframe width="350" height="250" src="{{d.video}}" title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="item-info">
        <p>{{d.nome}}</p>
        <p>{{d.competencias}}</p>
        <div>
          <span class="new-price">Etapa: {{d.etapa}}</span>
        </div>
        <a href="{% url 'talento-detalhe' d.pk %}" class="add-btn">Ver Perfil</a>
      </div>
    </div>

    {% endfor %}
  </div>
</div> -->




{% endblock %}