{% extends 'base.html'%} {% block content %}
<section id="cadastro-projeto">


  {% if form.errors %}
  <ul>
    {% for field in form %}
      {% for error in field.errors %}
        <li>{{ error }}: {{field.name}}</li>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <li>{{ error }}: {{field.name}}</li>
    {% endfor %}
  </ul>
{% endif %}

  <form action="" method="POST">
    {% csrf_token %}

    <div class="row">
      <div class="col">
        <h2>Adicionar projeto</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Nome do Projeto</label>
          {{ form.nome }}
          <label for="exampleInputEmail1" class="form-label">Titulo do Projeto</label>
          {{ form.titulo }}
          <!--Video 1-->
          <label for="exampleInputEmail1" class="form-label">Link do video 1</label>
          {{ form.video1 }}

          <label for="exampleInputEmail1" class="form-label">O vídeo é sobre:</label>
            <div>
              {% for checkbox in form.video1_about %}
              <div class="form-check form-check-inline 2">
                <label class="form-check-label" for="flexCheckDefault1">{{ checkbox }} {{ checkbox.label }}</label>
              </div>
              {% endfor %}
            </div>

          <!--Video 2-->
          <div>
            <label for="exampleInputEmail1" class="form-label">Link do video 2</label>
            {{ form.video2 }}
            <label for="exampleInputEmail1" class="form-label">O vídeo é sobre:</label>
            <!--Video 2 about-->
            <div>
              {% for checkbox in form.video2_about %}
              <div class="form-check form-check-inline 2">
                <label class="form-check-label" for="flexCheckDefault2">{{ checkbox }} {{ checkbox.label }}</label>
              </div>
              {% endfor %}
            </div>
          </div>
          <!--Video 3-->

            <label for="exampleInputEmail1" class="form-label">Link do video 3</label>
            {{ form.video3 }}
            <label for="exampleInputEmail1" class="form-label">O vídeo é sobre:</label>
            <!--Video 3 about-->
            <div>
              {% for checkbox in form.video3_about %}
              <div class="form-check form-check-inline 2">
                <label class="form-check-label" for="flexCheckDefault3">{{ checkbox }} {{ checkbox.label }}</label>
              </div>
              {% endfor %}
            </div>

        </div>
      </div>
      <div class="col">
        <!--Add currículo-->
        <div class="mt-4">
          <label class="form-check-label" for="flexRadioDefault1">
            Faça o upload do seu currículo.
          </label>
          <button type="submit" class="btn btn-primary btn-base flex-btn">
            Currículo
          </button>
        </div>

        <!--Add projeto-->
        <div class="mt-4">
          <label class="form-check-label" for="flexRadioDefault1">
            Adicione o projeto inteiro com imagens
          </label>
          <button type="submit" class="btn btn-primary btn-base flex-btn">
            Projeto
          </button>
        </div>

        <!--Add dias da semana-->

        <div class="mt-4">
          <h5 class="title">Selecione os melhores dias e horários para o recrutador agendar uma
            entrevista.</h5>
          {% for checkbox in form.semana_entrev %}
          <div class="form-check-inline">
            <label class="form-check-label" for="flexCheckDefault">{{ checkbox }} {{ checkbox.label }}</label>
          </div>
          {% endfor %}
        </div>

        <!--Add horários-->

        <div class="mt-4">
          <h5 class="title">Horários</h5>
          {% for checkbox in form.horario_entrev %}
          <div class="form-check-inline">
            <label class="form-check-label" for="flexCheckDefault">{{ checkbox }} {{ checkbox.label }}</label>
          </div>
          {% endfor %}
        </div>
      </div>

      <button type="submit" class="btn btn-primary btn-base">Adicionar</button>
  </form>
</section>
{% endblock %}