<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
    <title>Plataforma Liv</title>
    <link rel = "stylesheet" href = "css/style.css">
</head>
<body>
    <div class = "wrapper">
        <div class = "category-filter">
            <div class = "container">
                <div class = "title">
                    <img src="img/logo.png">
                    <h1>Plataforma Liv</h1>
                    
                </div>
                <div class = "title">
                    <h4>Banco de talentos em UX design</4>
                </div>

                <div class = "filter-btns">
                    <button type = "button" class = "filter-btn" id = "all">Todos</button>
                    <button type = "button" class = "filter-btn" id = "new">UX Designer</button>
                    <button type = "button" class = "filter-btn" id = "best-sellers">UI Designer</button>
                    <button type = "button" class = "filter-btn" id = "specials">UX Writer</button>
                </div>

                <div class = "filter-items">
                    <div class = "filter-item all new">
                        <div class = "item-img">
                            <iframe width="350" height="250" src="https://www.youtube.com/embed/t0aCoqXKFOU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                    
                        </div>
                        <div class = "item-info">
                            <p>Eliza César - UX Designer</p>
                            <div>
                                <span class = "new-price">Etapa: Research</span>
                            </div>
                            <a href = "perfil.html" class ="add-btn">Ver Perfil</a>
                        </div>
                    </div>

                    <div class = "filter-item all new">
                        <div class = "item-img">
                            <iframe width="350" height="250" src="https://www.youtube.com/embed/t0aCoqXKFOU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class = "item-info">
                            <p>Eliza César - UX Designer</p>
                            <div>
                                <span class = "new-price">Etapa: Research</span>
                            </div>
                            <a href = "#" class ="add-btn">Ver Perfil</a>
                        </div>
                    </div>
                    <div class = "filter-item all new">
                        <div class = "item-img">
                            <iframe width="350" height="250" src="https://www.youtube.com/embed/dGEp5Bp-tE8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class = "item-info">
                            <p>Eliza César - UX Designer</p>
                            <div>
                                <span class = "new-price">Etapa: Research</span>
                            </div>
                            <a href = "#" class ="add-btn">Ver Perfil</a>
                        </div>
                    </div>
                    <div class = "filter-item all new">
                        <div class = "item-img">
                            <iframe width="350" height="250" src="https://www.youtube.com/embed/k_2ZIGw8wN8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class = "item-info">
                            <p>Eliza César - UX Designer</p>
                            <div>
                                <span class = "new-price">Etapa: Research</span>
                            </div>
                            <a href = "#" class ="add-btn">Ver Perfil</a>
                        </div>
                    </div>
                    

                    <div class = "filter-item all best-sellers">
                        <div class = "item-img">
                            <iframe width="350" height="250" src="https://www.youtube.com/embed/xDhE-vzFmNg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class = "item-info">
                            <p>Eliza César - UI Designer</p>
                            <div>
                                <span class = "new-price">Etapa: Research</span>
                            </div>
                            <a href = "#" class ="add-btn">Ver Perfil</a>
                        </div>
                    </div>

                    <div class = "filter-item all specials">
                        <div class = "item-img">
                            <iframe width="350" height="250" src="https://www.youtube.com/embed/y2ixsVTIldM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class = "item-info">
                            <p>Eliza César - UI Designer</p>
                            <div>
                                <span class = "new-price">Etapa: Research</span>
                            </div>
                            <a href = "#" class ="add-btn">Ver Perfil</a>
                        </div>
                    </div>

                    <div class = "filter-item all new">
                        <div class = "item-img">
                            <iframe width="350" height="250" src="https://www.youtube.com/embed/OjoLjfoj160" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class = "item-info">
                            <p>Eliza César - UI Designer</p>
                            <div>
                                <span class = "new-price">Etapa: Research</span>
                            </div>
                            <a href = "#" class ="add-btn">Ver Perfil</a>
                        </div>
                    </div>

                    <div class = "filter-item all best-sellers">
                        <div class = "item-img">
                            <iframe width="350" height="250" src="https://www.youtube.com/embed/IcszbVpqxas" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class = "item-info">
                            <p>Eliza César - UI Designer</p>
                            <div>
                                <span class = "new-price">Etapa: Research</span>
                            </div>
                            <a href = "#" class ="add-btn">Ver Perfil</a>
                        </div>
                    </div>

                    <div class = "filter-item all specials">
                        <div class = "item-img">
                            <iframe width="350" height="250" src="https://www.youtube.com/embed/hU8C5twzhlw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class = "item-info">
                            <p>Eliza César - UX Writer</p>
                            <div>
                                <span class = "new-price">Etapa: Research</span>
                            </div>
                            <a href = "#" class ="add-btn">Ver Perfil</a>
                        </div>
                    </div>

                    <div class = "filter-item all new">
                        <div class = "item-img">
                            <iframe width="350" height="250" src="https://www.youtube.com/embed/_iAu71xPGKI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class = "item-info">
                            <p>Eliza César - UX Writer</p>
                            <div>
                                <span class = "new-price">Etapa: Research</span>
                            </div>
                            <a href = "#" class ="add-btn">Ver Perfil</a>
                        </div>
                    </div>

                    <div class = "filter-item all best-sellers">
                        <div class = "item-img">
                            <iframe width="350" height="250" src="https://www.youtube.com/embed/1gWi8bmnNVk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class = "item-info">
                            <p>Eliza César - UX Writer</p>
                            <div>
                                <span class = "new-price">Etapa: Research</span>
                            </div>
                            <a href = "#" class ="add-btn">Ver Perfil</a>
                        </div>
                    </div>

                    <div class = "filter-item all specials">
                        <div class = "item-img">
                            <iframe width="350" height="250" src="https://www.youtube.com/embed/cBVvTJuyF_Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class = "item-info">
                            <p>Eliza César - UX Writer</p>
                            <div>
                                <span class = "new-price">Etapa: Research</span>
                            </div>
                            <a href = "#" class ="add-btn">Ver Perfil</a>
                        </div>
                    </div>

                    <div class = "filter-item all new">
                        <div class = "item-img">
                            <iframe width="350" height="250" src="https://www.youtube.com/embed/t0aCoqXKFOU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class = "item-info">
                            <p>Eliza César - UI Designer</p>
                            <div>
                                <span class = "new-price">Etapa: Research</span>
                            </div>
                            <a href = "#" class ="add-btn">Ver Perfil</a>
                        </div>
                    </div>

                    <div class = "filter-item all best-sellers">
                        <div class = "item-img">
                            <iframe width="350" height="250" src="https://www.youtube.com/embed/lbFxfQfaylk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class = "item-info">
                            <p>Eliza César - UX Writer</p>
                            <div>
                                <span class = "new-price">Etapa: Research</span>
                            </div>
                            <a href = "#" class ="add-btn">Ver Perfil</a>
                        </div>
                    </div>

                    <div class = "filter-item all specials">
                        <div class = "item-img">
                            <iframe width="350" height="250" src="https://www.youtube.com/embed/wKDT9Q0Z0qw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class = "item-info">
                            <p>Eliza César - UX Writer</p>
                            <div>
                                <span class = "new-price">Etapa: Research</span>
                            </div>
                            <a href = "#" class ="add-btn">Ver Perfil</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src = "script.js"></script>
</body>
</html>